
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/
sounds/AlterCodeFmod/.user/Metadata/Workspace.user.xml
sounds/AlterCodeFmod/.user/Metadata/Mixer.user.xml
sounds/AlterCodeFmod/.user/Metadata/Asset/{e60d1c17-db37-4e09-a016-172ac9cfa2ef}.user.xml
sounds/AlterCodeFmod/.unsaved/metadataFileMapping.data
sounds/AlterCodeFmod/.unsaved/Metadata/VCA/{359ffc1c-a086-40d7-9d58-31b387761182}.xml
sounds/AlterCodeFmod/.unsaved/Metadata/Port/{c1562131-09e1-4224-b14b-439e78f31f02}.xml
sounds/AlterCodeFmod/.unsaved/Metadata/Mixer.xml
sounds/AlterCodeFmod/.unsaved/Metadata/Group/{9e92a979-8f14-4784-a107-188b36f966cd}.xml
sounds/AlterCodeFmod/.unsaved/Metadata/Group/{34fbba11-0fb8-4400-bf05-affafe3b58a2}.xml
sounds/AlterCodeFmod/.unsaved/Metadata/Event/{b9d9fc3e-b564-4b55-9baf-ad16992d0277}.xml
sounds/AlterCodeFmod/.unsaved/Metadata/Event/{add9f3cd-4dcc-41b6-95b1-6b94294ddace}.xml
sounds/AlterCodeFmod/.unsaved/Metadata/Event/{8f8837e8-942e-4990-9add-255fbc1251cd}.xml
sounds/AlterCodeFmod/.unsaved/Metadata/Event/{84c91c0e-0d03-4455-aad1-eb2e892cc227}.xml
sounds/AlterCodeFmod/.unsaved/Metadata/Event/{796b8255-e22c-440c-acd1-997c7a07f5be}.xml
sounds/AlterCodeFmod/.unsaved/Metadata/Event/{01ce2f55-fab5-4907-bc19-8a55d9204097}.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Workspace.user.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Mixer.user.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Asset/{e60d1c17-db37-4e09-a016-172ac9cfa2ef}.user.xml
sounds/AlterCodeFmod/.cache/{fcbba16f-f67e-45cb-9716-9d217dce2da2}.pdc
sounds/AlterCodeFmod/.cache/{f5aa6507-6df0-45c1-a557-5647b4deeb0d}.pdc
sounds/AlterCodeFmod/.cache/{de6afc4b-4a15-4131-ac31-1a3e3f89c9e3}.pdc
sounds/AlterCodeFmod/.cache/{dc653719-467b-4ce3-a324-c9077794b495}.pdc
sounds/AlterCodeFmod/.cache/{da70e36a-cc63-41e2-9fea-c6617483dd61}.pdc
sounds/AlterCodeFmod/.cache/{d531c008-821a-4dd3-91dd-7d61ec74146c}.pdc
sounds/AlterCodeFmod/.cache/{c4719c06-6643-4a2f-b244-7a9c5f23fe73}.pdc
sounds/AlterCodeFmod/.cache/{bfd94d60-d212-4207-8141-ec523cdc8ab4}.pdc
sounds/AlterCodeFmod/.cache/{bd04f9a5-7ce2-41f5-829c-edbe16e2272c}.pdc
sounds/AlterCodeFmod/.cache/{b09d113d-191b-4a21-a27e-fb26f43b5cad}.pdc
sounds/AlterCodeFmod/.cache/{a8999bcd-1cb9-4a27-a730-e2cb25ac7d5e}.pdc
sounds/AlterCodeFmod/.cache/{9d312634-3314-4b9f-b8a1-568dc319d16d}.pdc
sounds/AlterCodeFmod/.cache/{9cc9fb7b-aad4-4012-8dfb-1fcd96c6b88f}.pdc
sounds/AlterCodeFmod/.cache/{8cfd75c1-1f10-4540-999f-74b2f1d54fa0}.pdc
sounds/AlterCodeFmod/.cache/{7690d892-3d09-4d75-98c9-ba7eccb58973}.pdc
sounds/AlterCodeFmod/.cache/{69dd98c6-5b1d-4982-a779-1e9ff9a27030}.pdc
sounds/AlterCodeFmod/.cache/{685fd745-7ff3-4e9e-8676-c62754e3a86c}.pdc
sounds/AlterCodeFmod/.cache/{5e0593ee-1eb7-4865-affa-3756fd24c6bf}.pdc
sounds/AlterCodeFmod/.cache/{4fe125e2-9915-4b63-8341-3819414c7c85}.pdc
sounds/AlterCodeFmod/.cache/{4fa8eebb-fcc6-43a5-8375-93a662785276}.pdc
sounds/AlterCodeFmod/.cache/{4ef72a3b-f046-474b-9768-0024c02e432a}.pdc
sounds/AlterCodeFmod/.cache/{4a6ce46c-6cfe-496e-b785-7481466264c9}.pdc
sounds/AlterCodeFmod/.cache/{47bce029-8fab-431e-8270-75f8bb0bb837}.pdc
sounds/AlterCodeFmod/.cache/{45edf1eb-a528-4755-9c7a-f2078de8f53d}.pdc
sounds/AlterCodeFmod/.cache/{447450d0-4fd0-4d5a-b632-c52d33ab5d27}.pdc
sounds/AlterCodeFmod/.cache/{20992f99-9629-413d-b926-ba365ec9e3b8}.pdc
sounds/AlterCodeFmod/.cache/{1f4b8e2c-fdf9-4568-bd38-29f2fecc1975}.pdc
sounds/AlterCodeFmod/.cache/{1dc15b87-f3af-403b-910e-43c4431201d4}.pdc
sounds/AlterCodeFmod/.cache/{18738948-145a-4aee-a18c-bb1130f744d2}.pdc
sounds/AlterCodeFmod/.cache/{1655ede8-cb2c-47da-8f21-7ef15754efa9}.pdc
sounds/AlterCodeFmod/.cache/{0a27b45a-860c-4fd8-8837-70866ab1ba47}.pdc
sounds/AlterCodeFmod/.cache/{051a9984-bc1d-4b57-9f14-30cb10d32405}.pdc
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/FDDDA9CD.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/FABB4E07.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/F67E1F37.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/F0FDAF37.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/EFC70B71.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/E0ACE5EF.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/E05FBB73.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/C7DED14E.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/C133D2D4.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/BB3D642B.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/B9E8094D.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/AE361BC7.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/A3607B9A.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/9E9FE8F7.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/9DCC89A0.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/90B09757.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/81DB5118.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/77A0784A.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/73440122.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/66ED2F96.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/65FE71E2.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/5FC53D8B.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/47D08202.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/46A1F2FD.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/4121FD24.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/3EDB4C86.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/3CD7D660.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/2BCF17B9.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/26845C8A.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/0C87BA2E.fobj
sounds/AlterCodeFmod/.user/Metadata/Workspace.user.xml
sounds/AlterCodeFmod/.user/Metadata/Mixer.user.xml
sounds/AlterCodeFmod/.user/Metadata/Asset/{e60d1c17-db37-4e09-a016-172ac9cfa2ef}.user.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Workspace.user.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Mixer.user.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Asset/{e60d1c17-db37-4e09-a016-172ac9cfa2ef}.user.xml
sounds/AlterCodeFmod/.cache/{bd04f9a5-7ce2-41f5-829c-edbe16e2272c}.pdc
sounds/AlterCodeFmod/.cache/{7690d892-3d09-4d75-98c9-ba7eccb58973}.pdc
sounds/AlterCodeFmod/.cache/{4ef72a3b-f046-474b-9768-0024c02e432a}.pdc
sounds/AlterCodeFmod/.cache/{1f4b8e2c-fdf9-4568-bd38-29f2fecc1975}.pdc
sounds/AlterCodeFmod/.cache/{1655ede8-cb2c-47da-8f21-7ef15754efa9}.pdc
*.import
sounds/AlterCodeFmod/.user/Metadata/Workspace.user.xml
sounds/AlterCodeFmod/.user/Metadata/Mixer.user.xml
sounds/AlterCodeFmod/.user/Metadata/Asset/{e60d1c17-db37-4e09-a016-172ac9cfa2ef}.user.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Workspace.user.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Mixer.user.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Asset/{e60d1c17-db37-4e09-a016-172ac9cfa2ef}.user.xml
sounds/AlterCodeFmod/.cache/{9fe2c341-0457-46a8-9210-eae29e8b6977}.pdc
sounds/AlterCodeFmod/.cache/{01ea8613-c3f6-476c-b9ad-9483608da82e}.pdc
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/FC534C9E.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/F367B1E3.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/F0615EFA.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/ECCD68CA.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/EBAE3FA1.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/E95D3CFE.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/E8A082E8.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/E5CA8A89.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/E50BBBAD.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/E44C235C.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/DD8DB3AD.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/D44F709A.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/D29681FA.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/D1D635CF.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/CE9D1B22.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/C9724D61.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/C3DE7389.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/C35361B7.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/C2A2FB34.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/B8934BA3.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/B7F027F2.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/B7844A87.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/B5CB5CE6.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/B4D94E3A.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/B3CC1284.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/B3397816.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/A7810B8D.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/A02E4720.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/9CCE95FA.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/964F267C.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/94D88E10.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/8EBB2582.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/8D29075E.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/88349DC9.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/8802BBB4.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/83698EBA.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/8367B29D.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/82B40D35.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/764BFA9B.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/7128EF83.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/6E09786B.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/6828B4CF.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/4E6E0F65.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/48331B59.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/47B8E526.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/475FE099.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/4434FBCB.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/437565C7.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/4113D497.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/3E8BB49F.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/3E455372.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/3C88DD72.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/36291010.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/33E24BB4.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/2E63AF27.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/296A7889.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/20172367.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/196B243A.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/16673F85.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/10183917.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/0FBB98D7.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/0D945228.fobj
sounds/AlterCodeFmod/.cache/fsbcache/Desktop/00731FFB.fobj
sounds/AlterCodeFmod/.user/Metadata/Workspace.user.xml
sounds/AlterCodeFmod/.user/Metadata/Mixer.user.xml
sounds/AlterCodeFmod/.user/Metadata/Asset/{e60d1c17-db37-4e09-a016-172ac9cfa2ef}.user.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Workspace.user.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Mixer.user.xml
sounds/AlterCodeFmod/.unsaved/.user/Metadata/Asset/{e60d1c17-db37-4e09-a016-172ac9cfa2ef}.user.xml
*.pdc
*.pdc
*.pdc
*.fobj
